/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/laradock
rr
**.bkp
.rr.yaml
ray.php
/app/Http/Controllers/Api/API.har
/app/Http/Controllers/Api/HTML/
**.tar.gz
